@model ProyectoFinalTwitter.Models.Usuario


<div class="contenedor">
    <div class="logo">
        <i class="fab fa-twitter"></i>
    </div>
    <h1 class="titulo-auth text-light">Iniciar Sesión </h1>
    <form asp-controller="Auth" asp-action="Login" method="POST">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="campo">
            @Html.TextBoxFor(s => s.Email, new { @placeholder = "Email", @class= "fondo" })
            @Html.ValidationMessageFor(s => s.Email, "", new { @class = "text-light text-center " })
            @*   <input type="email" name="email" id="email" placeholder="Email"> *@
        </div>

        <div class="campo">
            @Html.TextBoxFor(s => s.Password, new { @placeholder = "Password", @type = "password", @class="fondo" })
            @Html.ValidationMessageFor(s => s.Password, "", new { @class = "text-light text-center" })
            @* <input type="password" name="password" id="password" placeholder="Contraseña"> *@
        </div>
        <div class="campo">
            @Html.TextBoxFor(s => s.UserName, new { @placeholder = "Nombre de usuario", @class="fondo" })
            @Html.ValidationMessageFor(s => s.UserName, "", new { @class = "text-light text-center" })
            @* <input type="text" name="username" id="username" placeholder="Nombre de usuario"> *@
        </div>
        <div class="campo">
             @if(@ViewBag.Error != null)
                {
                    <p class="alert alert-danger text-center">@ViewBag.Error</p>
                }
        </div>
        <div class="campo">
            <button type="submit" class="btn-primario">Iniciar Sesion</button>
        </div>
               
        <div class="campo">
            <a class=" text-center" href="~/Auth/Registro">¿No tienes cuenta? Registrate</a>
        </div>
    </form>
</div>